<%- include("partials/header.ejs") %>
<div class="box" id="heading">
  <h1><%= listtitle %></h1>
</div>
<div class="box">
  <% for(let item of newListItems) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= item %></p>
  </div> 
  <%} %>
    <form action="/work" method="POST" name="item">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="list" >+</button>
    </form>
  </div>
</div>
